<!DOCTYPE html>
<html>
  <head>
    <title>SmartNestSolution</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto px-5">
      <%= yield %>
    </main>

    <!-- Flash messages -->
    <% flash.each do |type, message| %>
      <div id="flash-<%= type %>" class="flash-notice">
        <%= message %>
      </div>
      <!-- <% flash.discard(:alert) %>-->
    <% end %>
    <% flash.clear %>

    <script>
      // This script will run immediately after the page loads
      window.onload = function() {
        // Check if there is a flash notice element present
        const flashNotice = document.querySelector('.flash-notice');
        if (flashNotice) {
          // If a flash notice is present, show it in an alert dialog
          alert(flashNotice.textContent);
          // Optionally, remove the flash notice from the DOM after showing it
          flashNotice.remove();
        }
      }
    </script>

  </body>
</html>
